.price-table {
    table-layout:fixed;
    width: 90%;
    height: 300px;
    overflow: scroll;
    border-collapse: separate;
    margin: 20px auto;
    border-spacing: 0 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  
.price-table thead th {
    background-color: #333;
    color:white;
    padding: 10px;
    text-align: center;
}
  
.price-table tbody td {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
}