.main-components{
  height:90vh;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-section{
  height:100%;
  width: 39%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}